.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
    
}

body{
    height: 100vh;
    background-image: linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%));
}


.accordition__card{
    display: flex;
    margin: 100px auto;
    max-width: 900px;
    justify-content: space-between;
    background-color: white;
    border-radius: 2.5rem;
    position: relative;
    align-items: center;
    background-image: url('images/bg-pattern-desktop.svg');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: -20%;
}

.card__img img{

    max-width: 40rem;
    width: 100%;
    height:auto;
    transform: translateX(-4.89rem);
    margin: 10px;
    
}

.card__img{

    display: flex;
    overflow: hidden;
    
}

.box{

    position: absolute;
    left: 0;
    top: 57%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
    
}


.card__body{

    width: 39%;
    margin: 50px;
}

.card__body h1{

    margin-bottom: 1.25rem;
    margin-top: 1.25rem;
    color: hsl(237, 12%, 33%) ;
    font-weight: 700;
}

.accordition{

    text-align: left;
    width: 100%;
    margin-bottom: 0.9375rem;
    font-size:12px;
    cursor: pointer;
    border: none;
    background: none;
    color: hsl(237, 12%, 33%) ;
    font-weight: 400;
}
.panel{

    margin-bottom: 0.4375rem;
    display:none ; 
    font-size:12px;
    color: hsl(240, 6%, 50%);
    
}

hr{
    margin-bottom: 0.625rem;
}

.accordition:hover{

    color: hsl(14, 88%, 65%);
}





@media (max-width: 1000px ) {

    .box{
        display:none;
    }

    .accordition__card{

        flex-direction: column;
        width: 90%;
        background-size: 75%;
        background-image: url('images/bg-pattern-mobile.svg');
        background-position: top;
        
        
    }

    .card__body{
        width: 90%;
        margin: 0px 0px 50px 0px;
    }

    .card__img{

        width: 70%;
        overflow: visible;
        justify-content: center;
        transform: translatey(-55%);
        
        
    }

    .card__img img{

        transform: none;
    }

    .card__body h1{

        text-align: center;
        margin-top: 0;
    }



}